.container {
  display: flex;
  justify-content: space-between;
  padding-left: 160px;
  background-color: #283677;
}

.container_description {
  padding: 95px 0 103px;
  white-space: pre;
}

.container_description h1 {
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 16px;
}

.container_description p {
  color: #4d64d2;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 40px;
}

.container_image__container {
  max-width: 604px;
  max-height: 498px;
}
